body{
    margin: 0;
    padding: 0;
    background-position: center;
}
.container {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 0px;
    margin: 8% auto 0;
    text-align: center;
}
p{
    font-family: 'Sriracha',cursive;
    font-size: 100%;
}
.input_box{
    margin: 5px;
    width: auto;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid black;
    outline: none;
}
h1{
    font-family:'Sriracha',cursive;
    margin-top:5%;
}
button{
    color:#fff;
    width:100%;
    padding:5%;
    border-radius:20px;
    font-size:15px;
    margin:10px 0;
    border:none;
    outline:none;
    cursor:pointer;
}
.signup_btn{
    background-color: rgb(255, 0, 242);
}
a{
    text-decoration: aqua;
}
hr{
    margin-top:20px;
    width:80%;
}